__pycache__/
*.pyc
.env
.venv/
.envrc
.cache/
.pytest_cache/

# Build & packaging artifacts
build/
dist/
*.egg-info/
.eggs/

# Coverage
.coverage
htmlcov/

# IDE/OS noise
.vscode/
.idea/
Thumbs.db
.DS_Store
*.tm7
